<button class="back_button"></button>

<img src="./images/logo.png" alt="logotype" class="logo" />

<div class="card_info">
    <div class="card_info_based">
            <img class='poster_img' src='https://image.tmdb.org/t/p/w300{{poster_path}}' alt='' />
            <div class="card_info_based_text">
                      <h1 class='poster_title'>{{original_title}}</h5> 
                      <p class='poster_overview'>{{overview}}</p>

<div>
                          <h5>Genres :</h5>
                      <div>
                           {{#each genresNames}} <h5 class='poster_genres'> {{this}} </h5>{{/each}}
                      </div>
</div>
<div>
    <h5>Adult: {{adult}}</h5>
        <h5>Adult: {{adult}}</h5>
              <h5 class='poster_year'>Year: {{release_date}}</h5>
      <h5 class='poster_vote'>Rating: {{vote_average}}</h5>
</div>
            </div>
    </div>
    <div class="card_info_trailer"></div>
</div>

